.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000090;
  border-color: #000090;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  opacity: 70%;
  font-weight: 700;
}

.back-to-top:hover {
  transform: scale(1.);
  background: #0101b3;
  border-color: #0101b3;
}
