@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("/src/manrope-v14-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("/src/manrope-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.contact {
  font-family: "Manrope", sans-serif;
  /* max-width: 1000px; */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

:placeholder-shown {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.indent-input {
  text-indent: 10px;
}

.reach-out {
  text-align: center;
  font-weight: 700;
  text-indent: 0;


}

h1 {
  text-align: center;
  color: #333;
}



form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

}


input,
textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.submit-button {
  background: #000099;
  font-size: 18px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}



.submit-button:hover {
  background: #1717fa;
}

@media (max-width: 768px) {
  .contact {
    margin-left: 20px;
    margin-right: 20px;
  }

  input,
  textarea {
    font-size: 14px;
    width: 95%;
    padding-left: 3px;
    margin-left: 3px;
  }

  .submit-button {
      margin-top: 10px;
        font-size: 16px;
  }

  .contact {
    margin-top: 20px;
  }

}
